// @color: #273137;
@color: #282C35;

@very-dark-gray: @color;
@dark-gray: lighten(@very-dark-gray, 3%);
@gray: lighten(@very-dark-gray, 20%);
@light-gray: lighten(@very-dark-gray, 25%);
@very-light-gray: lighten(@very-dark-gray, 75%);


// @very-dark-gray: rgba(255,255,255, 0.05);
// @dark-gray: rgba(255,255,255, 0.1);
// @gray: rgba(255,255,255, 0.2);
// @light-gray: rgba(255,255,255, 0.5);
// @very-light-gray: rgba(255,255,255, 0.9);


@cyan: #89DDF3;
@blue: #78D4F4;
@purple: #BA9FF8;
@green: #9AE675;
@red: #FF667E;
@yellow: #FFED5B;
@orange: #FFB06F;
